<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.customer.mapper.CustomerTeamInfoMapper">

    <resultMap type="CustomerTeamInfo" id="CustomerTeamInfoResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectCustomerTeamInfoVo">
        select id, customer_id, user_id, create_by, create_time, update_by, update_time, del_flag from t_customer_team_info
    </sql>

    <select id="selectCustomerTeamInfoList" parameterType="CustomerTeamInfo" resultMap="CustomerTeamInfoResult">
        <include refid="selectCustomerTeamInfoVo"/>
        <where>
            <if test="customerId != null  and customerId != ''"> and customer_id = #{customerId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectCustomerTeamInfoById" parameterType="String" resultMap="CustomerTeamInfoResult">
        <include refid="selectCustomerTeamInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertCustomerTeamInfo" parameterType="CustomerTeamInfo">
        insert into t_customer_team_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCustomerTeamInfo" parameterType="CustomerTeamInfo">
        update t_customer_team_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerTeamInfoById" parameterType="String">
        delete from t_customer_team_info where id = #{id}
    </delete>

    <delete id="deleteCustomerTeamInfoByIds" parameterType="String">
        delete from t_customer_team_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchSave">
        insert into t_customer_team_info(id, customer_id, user_id, create_by, create_time, update_by, update_time, del_flag)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.customerId}, #{item.userId}, #{item.createBy}, #{item.createTime}
            , #{item.updateBy}, #{item.updateTime}, #{item.delFlag})
        </foreach>
    </insert>

    <update id="deleteByCustomerId">
        update t_customer_team_info set del_flag= 1, update_by = #{userId}, update_time = now()
        where del_flag = 0 and customer_id = #{customerId}
    </update>
</mapper>
